rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /sensorReadings/{document=**} {
      allow read: if true;
      allow write: if false;
    }
  }
}
